@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.* {
  font-family: font-family: "Open Sans", OpenSans, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 10px 0;
  width: auto;
}

nav {
  background-color: #c12127;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  height: 15px;
}

nav a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

nav div a,
span {
  font-family: OpenSans;
  text-justify: up;
}
.top-links {
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
  text-align: right;
}

.top-left {
  display: inline-block;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float:left
}

.form {
  display: block;
  color: grey;
  background-color: rgb(31, 82, 111);
border: 1px solid whitesmoke;
  -webkit-appearance: none;
  text-decoration: none;
  width: 60%;
}

.formdiv {

    margin: 0 auto;
  padding: 5px;
  
  
  
}

.signup {
  text-align: right;
  padding-right: 10px;
  float:right
  
  
}

.build {
  width: 35%;
  margin-top:30px;
  margin-left: 22%;
  padding: 10px 
  
}

.header {
  background: rgb(31, 82, 111);
  color: white
}

.button {
    background-color: #f09233 ;
    color: #fff;
    outline: none;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    font-weight: 500;
    border-radius: 20px;
    padding: 7px 18px 8px 18px;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", OpenSans, sans-serif;
}

 .button:hover {
      background-color: #008CBA;
      color: white;
 }

#npmorg.backstyle {

  color: white;
  background-color: rgb(29,53,71);
  margin:auto;
  padding: 30px 20%
}

#npmorg .orgdiv {
  width: 40%
}

.orclassp {
  text-align: center
}
.orclass {

  color: white;
  text-decoration: none
}
.orclass:hover {
  text-decoration: underline
}

#npmord img {
  floa
}

.buttonorgs {
  background: rgb(203, 56, 55);
  border: 1px solid grey;
  color: inherit;
  margin-top: auto;
  padding: 5px;
  width: 100%;
  cursor:pointer;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Radio;  
  display: block;
}

.whatbackground {
  background-size: cover;
  background-color: steelblue
}

#npmwhat div {

  padding: 5% 50% 5% 23%;
  color: white;

}

#npmwhat button {
    background: rgb(49, 68, 88);
  border: 1px solid grey;
  color: white;
  margin-top: auto;
  padding: 5px;
  width: 30%;
  cursor:pointer;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Radio;  
  
}

#npmtask .textformat {
  margin: 0 auto;
  padding: 0 25%;
  text-align: center
}

}

#npmtask  p a {
  color: rgb(203,56,55);
  text-decoration: none;
  text-emphasis: bold
  
}

#npmtask a:hover {
  text-decoration: underline
}

#npmtask .sectionblocks {
   text-align: center;
}

.col {
  float: left;
}

.col-3 {
  width: 15%;
  border: 1px solid white;
  display: inline-block
}

.col-4 {
  width: 22.5%;  
  border: 1px solid white
}

.col-middle {
  padding: 0 5%;
}

.search {
  width: 70%;
  position: relative;

}

.searchTerm {
  float: left;
  width: 100%;
  padding: 5px;
  height: 10px;
  border-radius: 1px;
  outline: none;
  -webkit-appearance: none;
  text-decoration: none; 
  display: block;
  border-color: grey;
  background-color: rgb(31, 82, 111);
}

.searchTerm:focus{
  color: #00B4CC;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
